<h1><%= @project.title %></h1>

<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>

<p><%= @project.description %></p>
<p>Goal: <%= number_to_currency(@project.goal) %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>

<%= form_for [@project, Pledge.new] do |f| %>
  <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01 %>
  <%= f.submit "Pledge" %>
<% end %>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %>
  <p><%= number_to_currency(reward.dollar_amount) %></p>
  <p><%= reward.description %></p>

  <p>
    <small>
      <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
    </small>
  </p>
<% end %>

<%= link_to "Add new reward", new_project_reward_path(@project) %>

<%= render 'form', comment: @comment %>

<div class="Comments">
  <ol>
    <% @project.comments.each do |comment| %>
      <li>
        <%=link_to("Edit", edit_project_comment_path(@project, comment)) %> |
        <%=link_to("Delete", project_comment_path(@project, comment), method: :delete, data: {confirm: "Are you sure you want to delete?"}) %>
        <p><%= comment.created_at %></p>
        <p><%= comment.input %></p>
      </li>
      <% end %>
  </ol>
</div>
